.wrapper {
  width: 100vw;

}

.test{
  color: #EDF6FD;
  background-color: #6E6A5C;
  border: #B3A557 1px solid;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.test2{
  color: #EDF6FD;
  background-color: #6E6A5C;
  margin-top: 50px;
  margin-bottom: 50px;
}