.app.dark {
  --bg-color: #202B3B;
  --inverted-bg-color: #EDF6FD;


  --primary-color: #C9B959;
  --secondary-color: #B3A557;

  --inverted-primary-color: #6E6A5C;
  --inverted-secondary-color: #858276;
}