:root {
    --bg-color: #edf6fd;
    --inverted-bg-color: #202b3b;
    --primary-color: #6e6a5c;
    --secondary-color: #858276;
    --inverted-primary-color: #c9b959;
    --inverted-secondary-color: #b3a557;
}
