.app.light {
  --bg-color: #EDF6FD;
  --inverted-bg-color: #202B3B;


  --primary-color: #6E6A5C;
  --secondary-color: #858276;

  --inverted-primary-color: #C9B959;
  --inverted-secondary-color: #B3A557;
}