.AppLink {
  color: var(--primary-color);
  text-decoration: none ;
  &:hover{
    color: var(--secondary-color);
  }
}



.primary {
  color: var(--primary-color);

}

.secondary {
  color: var(--secondary-color);

}